@import "../../assets/styles/variables.scss";
.containerBottom {
  background-color: $color-300;
  color: $color-xyeta-42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  min-height: 50px;
  .leftText {
    display: flex;
    gap: 2px;
    .textPages {
    }
    .textAction {
    }
  }
  .rightText {
    display: flex;
    text-align: center;

    gap: 25px;
    .textButton {
      display: grid;
      place-items: center;
      padding: 3px 10px;
      border-radius: 10px;
      border: none;
      background-color: transparent;
      color: $color-xyeta-42;
      &.active {
        border: 1px solid $color-xyeta-42;
      }
    }
  }
}
